* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

#title {
  display: flex;
}

.add-item-container {
  display: flex;
  margin-bottom: 20px;
}

#input-item {
  padding: 10px;
  width: 100%;
  padding-left: 20px;
  background-color: transparent;
  border: 1px solid gray;
}

.list-container {
  border: 1px solid black;
  margin-bottom: 20px;
  width: 500px;
}

.list-items {
  display: flex;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

.checkbox {
  margin-right: 20px;
  cursor: pointer;
}

.list-item {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 470px;
  border-bottom: 1px solid gray;
  padding: 15px;
}

.list-item.completed label {
  text-decoration: line-through;
  opacity: 0.5;
}

.drag-drop-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#drag-drop {
  font-size: 14px;
}

.delete-button {
  padding: 6px;
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 420px;
}

.list-item:hover .delete-button {
  display: inline-block;
}

.status-container {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  margin: 15px 0px;
}

#all-active-completed-container {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 20px;
}

#all:hover, #active:hover, #completed:hover, #clear-completed:hover {
  cursor: pointer;
  color: slateblue;
}

.blue-text {
  color: slateblue;
}
